<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/header')  %> 
        <title>Movies</title>
    </head>
    <body id="movieContain">
        <header>Movies Now Playing</header>
        <% all.forEach(({ title, overview, backdrop_path }) => {%> 
                <div class="data">
                    <div class="left">
                        <img class="moviesPic" src=<%=`${img}${backdrop_path}`%>>
                    </div>
                    <div class="movieData">
                        <h2><%= `${title}` %> </h2>
                        <p><%= `${overview}` %> </p>
                    </div>
                </div>
                <%}) %>
        <%- include('../partials/footer') %> 
    </body>
</html>